#count {
    display: block ;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}
#Container1 {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(126, 99, 233);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover {
    background-color: rgba(27, 9, 100, 0.8);
}
#guess {
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}
#guessInput {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    width: 200px;
}
#feedback {
    font-family: Verdana;
    font-size: 1.2em;
}
#passwordDisplay {
    font-family: Verdana;
    font-size: 1.2em;
}